CompileFlags:
  Add: 
    - "-I../include"
    - "-std=c++23"
    - "-Wall"
    - "-Wextra"
Diagnostics:
  ClangTidy:
    Add:
      - '*'
    Remove:
      - fuchsia-default-arguments-calls
      - llvmlibc-implementation-in-namespace
      - llvmlibc-inline-function-decl
      - llvmlibc-callee-namespace
      - llvmlibc-restrict-system-libc-headers
      - altera-unroll-loops
      - altera-id-dependent-backward-branch
      - readability-identifier-length
      - modernize-use-trailing-return-type
      - bugprone-easily-swappable-parameters
      - performance-unnecessary-value-param
      - modernize-pass-by-value
    FastCheckFilter: None
