Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  clang-analyzer-*,
  -clang-analyzer-osx-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  google-*,
  misc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  modernize-*,
  -modernize-pass-by-value,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-unnecessary-value-param,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions: []